<!DOCTYPE html>
<html>
<head>
    <title>Create</title>
    <meta charset="utf-8" />
</head>
<body>
    <a href="/product">Product list</a>
    <h1>Create new product</h1>
    <form action="create" method="POST">
        <label>Name</label>
        <input name="name" /><br>
        <label>Price</label>
        <input name="price" type="number" min="1" max="1000" /><br>
        <input type="submit" value="Create" />
    </form>
</body>
</html>