<!DOCTYPE html>
<html>
<head>
    <title>List</title>
    <meta charset="utf-8" />
</head>
<body>
    <a href="/product/create">Add new product</a>
    <h1>Product list</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        <% for(i=0;i<products.length;i++) { %>
            <tr>
                <td><%= products[i].name %></td>
                <td><%= products[i].price %></td>
                <td><a href="<%= '/product/delete/' + products[i]._id %>">Delete</a> | <a href="<%= '/product/update/' + products[i]._id %>">Update</a></td>
            </tr>
        <% } %>
    </table>
</body>
</html>