<!DOCTYPE html>
<html>
<head>
    <title>Create</title>
    <meta charset="utf-8" />
</head>
<body>
    <a href="/product">Product list</a>
    <h1>Update product</h1>
    <form method="POST">
        <label>Name</label>
        <input name="name" value="<%= product.name %>"/><br>
        <label>Price</label>
        <input name="price" type="number" min="1" max="1000" value="<%= product.price %>"/><br>
        <input type="submit" value="Update" />
    </form>
</body>
</html>